body {
	font-family: Arial, sans-serif;
	background:
		linear-gradient(45deg, #007bff, #27ae60);
	color: #fff;
	display: flex;
	justify-content: center;
	align-items: center;
	min-height: 100vh;
	margin: 0;
}

.clock {
	text-align: center;
	background-color: #65bee4;
	border-radius: 10px;
	box-shadow: 0 0 10px rgba(0, 0, 0, 0.2);
	padding: 20px;
	width: 400px;
}

h1 {
	font-size: 2rem;
	color: #bf1d1d;
}

h3 {
	font-size: 1.0rem;
	color: #333;
}

.time {
	font-size: 2rem;
	margin: 20px 0;
	color: #333;
}

.input-row {
	display: flex;
	flex-direction: column;
	gap: 10px;
	align-items: center;
}

.input-field {
	display: flex;
	flex-direction: column;
	align-items: center;
    color: #000;
}

input[type="date"],
input[type="time"] {
	padding: 10px;
	font-size: 1rem;
	border: 1px solid #ccc;
	border-radius: 5px;
	width: 100%;
	max-width: 200px;
    background: #98efe5;

}

.button-row {
	display: flex;
	gap: 10px;
	justify-content: center;
	align-items: center;
}

#setAlarm,
#updateTime {
	background-color: #5ed255;
	color: #000;
	border: none;
	padding: 10px 20px;
	border-radius: 5px;
	cursor: pointer;
	font-size: 1rem;
	transition: background-color 0.3s;
}

#setAlarm:hover,
#updateTime:hover {
	background-color: #0056b3;
}

.alarms {
	margin-top: 20px;
	text-align: left;
	color: #333;
}

.alarm {
	background-color: #1bd4e2;

	border-radius: 5px;
	padding: 10px;
	margin: 10px 0;
	display: flex;
	justify-content: space-between;
	align-items: center;
	animation: fadeIn 0.5s ease-in-out;
	font-size: 14px;
}

button.delete-alarm {
    /* color: #d2baba;
    background: red; */

    background-color: red;
    color: #fff;
    border: none;
    padding: 10px 20px;
    border-radius: 5px;
    cursor: pointer;
    font-size: 1rem;
    transition: background-color 0.3s;
}

@keyframes fadeIn {
	from {
		opacity: 0;
	}

	to {
		opacity: 1;
	}
}
